.perro{
    width: 150px;
    height: 150px;
}

.gato{
    width: 150px;
    height: 150px;
}


.title{
    font-family: Tw Cen MT;


}
.salomonTx{
    margin-top: 0rem;
    margin-left: 2rem;
    font-family: Tw Cen MT;
  }

.parf1{
    font-family: Tw cen MT;
    
}

.tx1{
    font-family: Tw Cen MT;

}

.tobiasTx{
    font-family: Tw Cen Mt;
    margin-top: 0rem;
    margin-left: 2.6rem;
}

.cachupinTx{
    margin-top: 0rem;
    margin-left: 1.9rem;
    font-family: Tw Cen MT;
}


.title{
    font-family: Tw Cen MT;
}

.parf1{
    font-family: Tw Cen MT;
}

.tx1{
    font-family: Tw Cen MT;
}

.louTx{
    font-family: Tw Cen MT;
    margin-top: 0rem;
    margin-left: 3.5rem;
}

.matiasTx{
    font-family: Tw Cen MT;
    margin-top: 0rem;
    margin-left: 2.5rem;
}

.pepaTx{
    font-family: Tw Cen MT;
    margin-top: 0rem;
    margin-left: 3rem;
}