body{
    background-color: #CCD5AE;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenido{

    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.izquierda{
    width: 320px;
    height: 100%;
    background: rgb(0, 0, 0);
    overflow:auto;
    float: left;
}

.izquierda img {
    width: 140px;
    display: block;
    margin: 10px auto;
    opacity: .9s;
    transition: .5s;

  }
.izquierda img:hover{
    transform: scale(1.4);
}
.izquierda ul li{
    list-style: none;
    padding: 12px 10px;
        opacity: 0.5;
      transition: .5s;
}
.izquierda ul li a{text-decoration: none;
color: white;
opacity: .7;
font-size: 17px;
font-family: sans-serif;}

.izquierda ul li:hover{opacity: 1;
color: rgb(255, 255, 255);}

.content {

    background-color: rgba(135, 206, 250, 0.863);
    padding: 25px;
    font-size: 8px;
    color: black;
    }
  .content h2 {
    text-align:CENTER ;
    font-size: 30px;
    text-transform: uppercase;
    margin: 30px;
    margin-bottom: 10px;
    font-family: Tw Cen MT;
  
  }
  
  .content p {
    font-family: Tw Cen Mt;
    font-size: 18px;
    text-align: justify;
    margin-left: 296px
    
  }

  
  .content1 {
      background-color: rgba(255, 255, 0, 0.76);
      padding: 5px;
      font-size: 16px;
      color: black;
      font-family: Tw Cen Mt;
      
      }
  
  .content1 h2 {
    font-family: Tw Cen Mt;
        font-size: 30px;
        text-transform: uppercase;
        margin: 30px;
        margin-bottom: 10px;
        
      
      }
  .content1 p {
    font-family: Tw Cen Mt;
    font-size: 18px;
    text-align: justify;
    margin-left: 310px
    
  }
  .content2 {
    background-color: rgba(209, 14, 14, 0.747);
    padding: 7px;
    font-size: 16px;
    color: black;
    font-family: Tw Cen Mt;
    }
  
  .content2 h2 {
    font-family: Tw Cen Mt;
      font-size: 30px;
      text-transform: uppercase;
      margin: 30px;
      margin-bottom: 10px;
    
    }
  .content2 p {
    font-family: Tw Cen Mt;
  font-size: 18px;
  text-align: justify;
  margin-left: 310px
  }
  .content3 {
    height: 45.84%;
    background-color: rgba(255, 178, 12, 0.904);
    padding: 7px;
    font-size: 0px;
    color: black;
    font-family: Tw Cen Mt;
    }
  
  .content3 h2 {
    font-family: Tw Cen Mt;
      font-size: 30px;
      text-transform: uppercase;
      margin: 30px;
      margin-bottom: 10px;
    
    }
  .content3 p {
  font-family: Tw Cen Mt;
  font-size: 18px;
  text-align: justify;
  margin-left: 310px
  }
  .perrowaton1{
      opacity: 0.7;
    
      margin-left: 19.55rem;
      margin-top: -230rem;
  }
  
  